/* 
    Автро: Семенов Даниил
    13.03.2024
    Файл стилей на странице личного кабинета
    Стили названы в соотвествии с Tailwind
*/

.account {
    font-size: 2rem;
}

.account h2 {
    font-size: 3rem;
    color: var(--color-shadow);
}

/* Section user info */
.user-info-list {
    list-style-type: none;
}

/* Section meet user */
.meet-item {
    background-color: var(--color-system-sec);

    width: fit-content;

    padding: 3rem;

    border-radius: 10px;

    color: var(--color-text-sec);
}

.meet-item .btn {
    width: 100%;
}